<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/fotosocial-register/fotosocial-register.html">
<link rel="import" href="../../bower_components/fotosocial-user-register-dm/fotosocial-user-register-dm.html">
<link rel="import" href="../../bower_components/fotosocial-loggin/fotosocial-loggin.html">

<dom-module id="fotosocial-app">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

    <template is="dom-if" if="{{_activeElement('fotosocial-loggin', activeElement)}}">
      <fotosocial-loggin id="fotosocial-loggin" on-click-loggin="_loggin" on-click-register="_goTo">
      </fotosocial-loggin>
    </template>

    <template is="dom-if" if="{{_activeElement('fotosocial-register', activeElement)}}">
      <fotosocial-register id="fotosocial-register" on-click-register="_register"></fotosocial-register>
    </template>

    <template is="dom-if" if="{{_activeElement('fotosocial-dashboard', activeElement)}}">
      <h1>Welcome to the dashboard</h1>
    </template>

    <fotosocial-user-register-dm id="userRegister"></fotosocial-user-register-dm>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FotosocialApp extends Polymer.Element {
      static get is() { return 'fotosocial-app'; }
      static get properties() {
        return {
          changuePage: {
            type: Boolean,
            value: false
          },
          activeElement: {
            type: String,
            value: 'fotosocial-loggin'
          }
        };
      }

      _loggin(event) {
        const user = this.$.userRegister.checkIfUserExists(event.detail);
        if(user) {
          this.set('activeElement', 'fotosocial-dashboard');
        }
      }

      _activeElement(element, activeElement) {
        return element === activeElement;
      }

      _goTo(event) {
        this.set('activeElement', event.detail);
      }

      _register(event) {
        this.$.userRegister.set('user', event.detail);
        this.$.userRegister.saveUserLocalStore();
        alert('Usuario registrado');
        this.set('activeElement', 'fotosocial-loggin');
      }
    }

    window.customElements.define(FotosocialApp.is, FotosocialApp);
  </script>
</dom-module>